%footer.footer
  :css
    .footer {
        position:relative;
        bottom:-200px;
    }
  %p This site is for storing details of your favourite artists, albums and songs.
  %p!= "&copy; #{t('app_title')} #{Time.now.year}"
