<div class='footer'>
<style>
  .footer {
    position:absolute;
    bottom:0;
  }
</style>
  <body>
    <p> This site is for storing details of your favourite artists, albums and songs. </p>
  </body>
</div>
